{% liquid
  assign c = "AlgoliaSearchBox"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>
  <div class="js-statsQuery"></div>

  <div class="{{c}}__form-wrap">
    <div class="js-algoliaSearchBox"></div>
  </div>

  <div class="{{c}}__stats js-stats subheader"></div>
</div>
