{% liquid
  assign c = "AutocompleteSearchCollectionHits"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>
  <div class="{{c}}__title subheader">
    Collections
  </div>

  <div class="{{c}}__container js-searchCollectionHits"></div>
</div>
