{% liquid
  assign c = "BoutiqueCard"
  assign image = image | default: false
  assign image_mobile = image_mobile | default: false
  assign body = body | default: false
  assign image_component_class = c | append: "__image-container"
  assign image_class = c | append: "__image"
%}

<div
  class="{{c}}"
>
  <div class="{{c}}__container">

    {% render 'image',
      component_class: image_component_class,
      class: image_class,
      image: image,
      sizes: "350, 768"
    %}

    <div class="{{c}}__text-container">
      {{ body }}
    </div>
  </div>
</div>
