{% liquid
  assign c = "FilterClear"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>
  <button 
    class="{{c}}__clear-filters body-s js-clearFilterBtn"
    aria-label="Clear all active filters"
  >
    Clear All
  </button>
</div>
