{% liquid
  assign c = "LandingPage"
  assign sections = shop.metafields.acf_settings.page_layouts | where: "id", page.id | first | map: "sections" | where: "visible"
  assign builder_sections = page.metafields.builder_io.html_code


  # Check to see if any sections include Builder.io content, so as not to load script multiple times 

  assign include_builder_script = false
  for index in builder_sections
    if index != blank
      assign include_builder_script = true
    endif
  endfor

%}

{% if include_builder_script %}
  <script async="false" src="https://cdn.builder.io/js/webcomponents"></script>
{% endif %}

<div class="{{c}}">
  {% for section in sections %}
    {% case section.name %}
      {% when 'media_hero' %}
        {% render 'media-hero',
          image: page.metafields.flexible.hero_image[0]
          image_mobile: page.metafields.flexible.hero_image_mobile[0]
        %}
    {% endcase %}
  {% endfor %}
  {% comment %} Modules {% endcomment %}
  {% for section in sections %}

    {% case section.name %}

      {% when 'media_text_carousel' %}
        {% render 'landing-media-text-carousel',
          fields: page.metafields.media_text_carousel,
          index: section.index
        %}

      {% when 'three_card_module' %}
        {% assign fields = page.metafields.three_card_module %}
        {% render 'landing-three-card-module',
          fields: fields,
          index: section.index,
          nav_ref: fields.three_card_nav_ref[section.index]
        %}

      {% when 'landing_page__two_column' %}
        {% render 'landing-two-column',
          fields: page.metafields.landing_two_column,
          index: section.index
        %}

      {% when 'landing_page__product_carousel' %}
        {% render 'landing-product-carousel',
          fields: page.metafields.product_carousel,
          index: section.index
        %}

      {% when 'landing_page__paragraph' %}
        {% render 'landing-paragraph',
          fields: page.metafields.paragraph,
          index: section.index
        %}

      {% when 'landing_page__steps' %}
        {% render 'landing-steps',
          fields: page.metafields.steps,
          index: section.index
        %}

      {% when 'landing_page__card_grid' %}
        {% render 'landing-card-grid',
          fields: page.metafields.card_grid,
          index: section.index
        %}

      {% when 'landing__editorial_carousel' %}
        {% render 'landing-editorial-carousel',
          fields: page.metafields.editorial_carousel,
          index: section.index
        %}
        
      {% when 'landing_page__scrolling_marque' %}
        {% render 'landing-scrolling-marquee',
          fields: page.metafields.scrolling_marquee
        %}
          
      {% when 'product_collection_grid' %}
        {% assign fields = page.metafields.product_grid %}
        {% render 'landing-product-collection-grid',
          fields: fields,
          index: section.index,
          nav_ref: fields.product_grid_nav_ref[section.index]
        %}
      
      {% when 'three_column' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-three-column',
          image: fields.three_col_img[section.index][0],
          image_mobile: fields.three_col_img_mobile[section.index][0],
          header_1: fields.three_col_header_1[section.index],
          url_1: fields.three_col_url_1[section.index],
          image_hover_1: fields.three_col_img_hover_1[section.index][0],
          image_hover_mobile_1: fields.three_col_img_hover_mobile_1[section.index][0],
          header_2: fields.three_col_header_2[section.index],
          url_2: fields.three_col_url_2[section.index],
          image_hover_2: fields.three_col_img_hover_2[section.index][0],
          image_hover_mobile_2: fields.three_col_img_hover_mobile_2[section.index][0],
          header_3: fields.three_col_header_3[section.index],
          url_3: fields.three_col_url_3[section.index],
          image_hover_3: fields.three_col_img_hover_3[section.index][0],
          image_hover_mobile_3: fields.three_col_img_hover_mobile_3[section.index][0],
        %}

      {% when 'media_text_hero' %}
        {% assign fields = page.metafields.flexible %}
        {% assign index = section.index %}
        {% render 'media-text-hero',
          index: index
          color: fields.media_text_hero_color,
          image: fields.media_text_hero_image[section.index],
          image_mobile: fields.media_text_hero_image_mobile[section.index],
          header: fields.media_text_header,
          subheader: fields.media_text_subheader,
          nav_ref: fields.media_text_hero_nav_ref[section.index],
          title_under_hero: fields.title_under_hero
        %}

      {% when 'secondary_navigation' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-secondary-navigation',
          list: fields.secondary_navigation_list.markdown
        %}

      {% when 'list_collections__grid_item' %}
        {% liquid
          assign image = page.metafields.list_collection.image[section.index][0]
          assign title = page.metafields.list_collection.title[section.index]
          assign copy = page.metafields.list_collection.hover_copy[section.index].markdown
          assign url = page.metafields.list_collection.url[section.index]
        %}        
        {% render 'list-collections-grid-item',
          image: image,
          title: title,
          copy: copy,
          url: url
        %}
      
      {% when 'landing_page__builderio_html' %}
        {% assign builder_component = page.metafields.builder_io.html_code[section.index] %}
        
        <div class="builder-{{ section.index }}">{{ builder_component }}</div>
      

      {% when 'media_faqs' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-media-faqs',
          nav_ref: fields.media_faqs_nav_ref[section.index],
          video_url: fields.media_faq_video[section.index][0].src,
          video_url_mobile: fields.media_faq_video_mobile[section.index][0].src,
          image: fields.media_faq_image[section.index][0],
          header: fields.media_faq_header[section.index],
          drawers: fields.media_faq_drawers[section.index].markdown,
          index: section.index
        %}

      {% when 'one_column' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-one-column',
          nav_ref: fields.one_column_nav_ref[section.index],
          image: fields.one_col_bkgd_img[section.index][0],
          image_mobile: fields.one_col_bkgd_img_mobile[section.index][0],
          background_color: fields.one_col_bkgd_color[section.index],
          color: fields.one_col_color[section.index],
          header: fields.one_col_header[section.index],
          body: fields.one_col_body[section.index].html
        %}

      {% when 'two_column' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-two-column',
          nav_ref: fields.two_column_nav_ref[section.index],
          text_first: fields.two_column_text_first[section.index],
          top_margin: fields.two_column_top_margin[section.index],
          bottom_margin: fields.two_column_bottom_margin[section.index],
          header: fields.two_column_header[section.index],
          body: fields.two_column_body[section.index].html,
          cta_text: fields.two_column_cta_text[section.index],
          cta_link: fields.two_column_cta_link[section.index],
          image: fields.two_column_image[section.index][0],
          video_url: fields.two_column_video[section.index][0].src,
          video_url_mobile: fields.two_column_video_mobile[section.index][0].src,
          index: section.index,
          enable_shoppable: fields.enable_shoppable_module[section.index],
          shoppable_id: fields.shoppable_id[section.index],
          shoppable_cta: fields.shoppable_cta[section.index],
        %}

        {% 
          render 'page-shoppable-content',
          cta: fields.shoppable_cta[section.index],
          id: fields.shoppable_id[section.index],
        %}

      {% when 'page_faqs' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-faqs',
          title: fields.faqs_title[section.index],
          description: fields.faqs_description[section.index],
          cta: fields.faqs_cta[section.index],
          background: fields.faqs_background[section.index],
          drawers: fields.faq_drawers[section.index].markdown,
          cta_link: fields.faqs_cta_link[section.index],
          index: section.index
        %}

      {% when 'media_banner' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'media-banner',
          video_url: fields.banner_video[section.index][0].src,
          video_url_mobile: fields.banner_video_mobile[section.index][0].src,
          image: fields.banner_image[section.index][0],
          image_mobile: fields.banner_image_mobile[section.index][0]
        %}

      {% when 'text_container' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-text-container',
          nav_ref: fields.text_container_nav_ref[section.index],
          alignment: fields.text_container_alignment[section.index],
          header: fields.text_container_header[section.index],
          body: fields.text_container_body[section.index].html,
          cta_text: fields.text_container_cta_text[section.index],
          cta_link: fields.text_container_cta_link[section.index]
        %}

      {% when 'content_table' %}
        {% assign fields = page.metafields.flexible %}
        {% render 'page-content-table',
          content_left: fields.content_table_column_left[section.index].html,
          content_right: fields.content_table_column_right[section.index].html
        %}

    {% endcase %}
  {% endfor %}
</div>
