{% liquid
  assign c = "ListCollections"
%}

<div class="{{c}}">
  {% for block in section.blocks %}
    {% liquid
      assign image = block.settings.image
      assign copy = block.settings.copy
      assign title = block.settings.title
      assign url = block.settings.collection.url
    %}
    {% render 'list-collections-grid-item',
      image: image,
      copy: copy,
      title: title,
      url: url
    %}
  {% endfor %}
</div>
