{% liquid
  assign c = "LoyaltyActivitiesGrid"
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>

<div class="{{c}}__header h4">How To Earn Points</div>

<div data-lion-rules-list></div>

</div>

<style>


#loyaltylion div {
  color: #000;
}

#loyaltylion .lion-rules-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: unset;
  max-width: 900px;
  padding: 0px;
}

#loyaltylion .lion-rule-item {
  flex: 0 1 calc(50% - 20px);
  outline: 1px solid #c4b0a9;
  max-width: 250px;

}

@media screen and (min-width: 1024px) {
  #loyaltylion .lion-rule-item {
    flex: 0 1 calc(33% - 20px);
  }
}

#loyaltylion .lion-rule-item__title {
  font-family: 'Favorit Std-Book';
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 350;
  padding: 10px 10px 0;
}

#loyaltylion .lion-rule-item__points {
  margin-top: 10px;
}

#loyaltylion .lion-rule-item__actions {
  font-family: 'Favorit Std-Book';
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 350;
  max-height: 50px;
  margin: 25px 10px;
}

#loyaltylion .lion-action-button {
  text-transform: uppercase;
  border-radius: 0;
  min-width: 140px;
}

#loyaltylion .lion-rule-item__completed {
  justify-content: center;
}
#loyaltylion .lion-action-button--tile {
  background-color: #fff;
}


</style>