{% liquid
  assign c = "LoyaltyRedemption"
%}

<div
  id="Redemption"
  class="{{c}}"
  data-component="{{c}}"
>

<div class="{{c}}__header h4">Redeem With Your Points</div>

<div data-lion-rewards-list></div>

</div>
