{% liquid
  assign c = "LoyaltyPage"
  assign fields = page.metafields.flexible
%}

<div
  class="{{c}}"
  data-component="{{c}}"
>

{% render 'loyalty-two-column-header' %}

{%- if customer -%}
  {% render 'loyalty-customer-block' %}
{%- endif -%}

{% render 'loyalty-steps' %}

{% render 'loyalty-tier-compare' %}

{% render 'loyalty-activities-grid' %}

{% render 'loyalty-referral' %}

{% render 'loyalty-redemption' %}

{% render 'page-media-faqs',
  video_url: fields.media_faq_video[0][0].src,
  video_url_mobile: fields.media_faq_video_mobile[0][0].src,
  image: fields.media_faq_image[0][0],
  header: fields.media_faq_header[0],
  drawers: fields.media_faq_drawers[0].markdown,
  index: section.index
%}

</div>
