{% liquid
  assign c = "MediaBanner"
  assign video_url = video_url | default: false
  assign video_url_mobile = video_url_mobile | default: false
  assign video_component_class = c | append: '__video-wrap'
  assign video_class = c | append: '__video'
  assign image = image | default: false
  assign image_mobile = image_mobile | default: false
  assign image_component_class = c | append: '__image-wrap'
  assign image_class = c | append: '__image'
%}

<div
  class="{{c}}"
  
>
  <div class="{{c}}__container">
    {% if video_url_mobile != blank and video_url != blank %}
      {% render 'video',
        component_class: video_component_class,
        class: video_class,
        video: video_url,
        mobile_video: video_url_mobile,
        poster: image.src
      %}
    {% else %}
      {% render 'image',
        component_class: image_component_class
        class: image_class,
        image: image_mobile,
        sizes: '300'
        image_2: image,
        sizes_2: '768, 1024, 1440'
      %}
    {% endif %}
  </div>
</div>
