<header>
{% form 'storefront_password' %}
  {{ form.errors | default_errors }}
  <div>
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit" value="Sign in">
  </div>
{% endform %}
</header>

{% schema %}
{
  "name": "Password"
}
{% endschema %}
