
.patrol-sr-only {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.patrol-unstyled-list {
  list-style: inherit;
  padding: 0;
  margin: 0;
}

a:not([target="_blank"]) > span.patrol-blank-target {
  /* Hide New Window Span when applied incorrectly */
  display: none;
}

.patrol-skip-link {
  position: absolute;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.patrol-skip-link:focus {
    left: 0;
    top: 0;
    width: fit-content;
    background: white;
    padding: 5px;
    height: auto;
    overflow: visible;
    z-index: 2147483647;
    border: 2px solid blue;
    border-radius: 10px;
}
